* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  background: linear-gradient(94deg, #e9f40d 10%, #ff6600 90%);
}

.search-container {
  width: 200px;
  position: fixed; /* Added to make the search bar fixed */
  top: 33%; /* Positioned at the top 1/3 of the page */
  display: flex;
  flex-direction: column;

}

input {
  background-color: hsla(39, 92%, 70%, 0.674);
  border-color: orange;
  width: 100%; /* Adjusted to take up the entire width of its container */
  height: 40px;
  text-indent: 5px;
}

ul {
  padding: 0;
  background-color: hsla(39, 92%, 70%, 0.674);
  width: 200px;
  margin-top: 5px; /* Added to create space between search bar and drop-down list */
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  max-height: 200px;
  overflow-y: scroll;

}

ul::-webkit-scrollbar {
  display: none;
}


ul li {
  text-indent: 5px;
  line-height: 40px;
  border: none;
}

ul li:hover {
  background-color: orange;
  cursor: pointer;
}
